.banner {
    max-width: 415px;
    width: 100%;
    margin: 0 auto;
    &--dark {
        background-color: #000;
        & .banner-card {
            background-color: #373640;
            color: #fff;
        }
        & .banner-slider__item {
            background-image: linear-gradient(225deg, #262526 0%, #19181A 100%);
        }
        & .banner-slider__review,
        & .banner-slider__name,
        & .banner-slider__text {
            color: #fff;
        }
        & .footer {
            color: #7D7D80;
        }
    }
}


@keyframes line {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes opacit {
    to {
        opacity: 1;
    }
}
